streamlit
pdfplumber
pandas
matplotlib
wordcloud
seaborn
scikit-learn
sentence-transformers
torch
NLTK
firebase-admin
simplejson
google-generativeai
plotly
statsmodels 
pypdf
transformers
huggingface_hutransformers
huggingface_hub
