streamlit
pdfplumber
pandas
matplotlib
wordcloud
seaborn
spacy
scikit-learn
sentence-transformers
torch
NLTK
firebase-admin
simplejson
google-generativeai
plotly
statsmodels 
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.0/en_core_web_md-3.7.0.tar.gz#egg=en_core_web_md
